
   #id4	{
			position:  absolute; 
			bottom: 56;
			right:26;
		}
.body{
	/* background: url(images/elevator.jpg) no-repeat;
    -moz-background-size: 130%; /* Firefox 3.6+ 
    -webkit-background-size: 130%; /* Safari 3.1+ и Chrome 4.0+ 
    -o-background-size: 130%; /* Opera 9.6+ 
    background-size: 130%; /* Современные браузеры */
}
.hat{
	display: flex;	
	background: url(images/podlogka_1.jpg);	
}	
.hatinfo{
	padding-top: 35px;
	font-size: 35px;
	padding-left: 15px;
	background-color: rgba(128, 128, 128, 0.7);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
}
.hatinfo2{
	padding-top: 55px;
	font-size: 35px;
	padding-left: 15px;
	background-color: rgba(128, 128, 128, 0.7);
}
.logo{

}
.contacts{
	font-size: 45px;
	display: flex;
	justify-content: space-around;
}
.about_us{
	font-size: 25px;
	font-family: 'Arimo', sans-serif;
}
a{
	text-decoration: none;
	color:blue;
}
.menu{
	font-family: 'Anton', sans-serif;


}
.opacity{
	opacity:0.3;	
	color: white;
	font-size: 25px;
}
.h2{
	font-size: 35px;
}
.services{
	font-size: 25px;
	font-family: 'Arimo', sans-serif;
}
.About_Top{
	font-size: 40px;
	font-family: 'Goldman', cursive;
}
.all_contacts{

}
.framecontent{
	background-color: white;
}
.menux{
	background-color: lightgray;
}
.all_about_us{
	display: flex;
}
 .galleria{ width: 700px; height: 400px; background: #000 }
